<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
  <span fxFlex="auto">{{ title }}</span>
  <mat-form-field floatLabel="never">
    <input
      [(ngModel)]="listlabel"
      matInput type="text"
      placeholder="List name"
      (keydown.enter)="addList()">
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="addList()">Add list</button>
</mat-toolbar>

<div class="container" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="15px">
  <mat-card *ngFor="let list of lists">
    <mat-card-header fxLayoutAlign="center center">{{list.label}}</mat-card-header>
    <mat-card-content>
      <ul>
        <li *ngFor="let item of list.items">{{item.content}}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <mat-form-field floatLabel="never">
        <input
          [(ngModel)]="itemContent"
          matInput type="text"
          placeholder="Item name"
          (keydown.enter)="addItem(list)">
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="addItem(list)">Add item</button>
    </mat-card-actions>
  </mat-card>

</div>

<router-outlet></router-outlet>
